function GalaxyGame.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 248
push constant 230
call PlayersJet.new 2
pop this 0
push constant 0
pop this 3
call BulletSet.new 0
pop this 1
call EnemySet.new 0
pop this 2
push this 2
call EnemySet.activate 1
pop temp 0
push pointer 0
return
function GalaxyGame.dispose 0
push argument 0
pop pointer 0
push this 0
call PlayersJet.dispose 1
pop temp 0
push this 1
call BulletSet.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function GalaxyGame.movePlayer 0
push argument 0
pop pointer 0
push this 3
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call PlayersJet.moveLeft 1
pop temp 0
label IF_FALSE0
push this 3
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call PlayersJet.moveRight 1
pop temp 0
label IF_FALSE1
push this 3
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 3
label IF_FALSE2
push constant 0
return
function GalaxyGame.endGame 0
push argument 0
pop pointer 0
push constant 10
push constant 30
call Output.moveCursor 2
pop temp 0
push argument 1
call Output.printString 1
pop temp 0
push constant 0
return
function GalaxyGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 32
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push constant 40
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 4
goto IF_END2
label IF_FALSE2
push this 4
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push this 0
call PlayersJet.getX 1
push this 0
call PlayersJet.getY 1
push constant 16
sub
call BulletSet.fire 3
pop temp 0
label IF_FALSE3
push this 4
push constant 1
add
pop this 4
label IF_END2
label IF_FALSE1
push local 0
push constant 130
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 3
pop this 3
label IF_FALSE4
push local 0
push constant 132
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 4
pop this 3
label IF_FALSE5
push this 5
push constant 50
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop this 5
goto IF_END6
label IF_FALSE6
push this 5
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
call EnemySet.run 1
pop temp 0
label IF_FALSE7
push this 5
push constant 1
add
pop this 5
label IF_END6
push pointer 0
call GalaxyGame.movePlayer 1
pop temp 0
push this 1
push this 2
call BulletSet.run 2
pop temp 0
push this 2
call EnemySet.anyAliveEnemy 1
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
push constant 7
call String.new 1
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
call GalaxyGame.endGame 2
pop temp 0
push constant 0
not
pop local 1
goto IF_END8
label IF_FALSE8
push this 2
call EnemySet.reachedEnd 1
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call GalaxyGame.endGame 2
pop temp 0
push constant 0
not
pop local 1
label IF_FALSE9
label IF_END8
push constant 5
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
